@font-face {
  font-family: 'Droid Sans';
  src: url('../assets/droid-sans/DroidSans.ttf') format('truetype');
}

// Twitter collor pallete; check: https://about.twitter.com/company/brand-assets
$color-blue: #55acee;
$color-dark-gray: #292f33;
$color-gray: #66757f;
$color-light-gray: #ccd6dd;
$color-almost-white: #e1e8ed;
$color-white: #ffffff;


$breakpoint-desktop: 568px;
