@import 'reset';
@import 'resources';

@import 'components/app';
@import 'components/tweets-list';
@import 'components/search-bar';
@import 'components/tweet';
@import 'components/footer';

*, html {
  box-sizing: border-box;
}

body {
  background-color: #e1e8ed;
  font-family: 'Droid Sans';
  color: $color-dark-gray;
  margin: 0;
  font-size: 18px;
}

@media screen and (min-width: $breakpoint-desktop) {
  body {
    font-size: 24px;
  }
}
