.app {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-between;

  &__loading {
    width: 56px;
    height: 56px;
    margin: 46px 0;
    background-image: url('../assets/loading.svg');
  }
}
