%form-style {
  min-height: 30px;
}

.search-bar {
  font-size: 16px;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  background-color: $color-almost-white;

  &__greetings {
    flex: 1 100%;
    font-size: 1.3em;
    margin-bottom: 12px;
  }

  &__input-twitter {
    @extend %form-style;
    background-color: $color-almost-white;
    border: 0;
    border-bottom: 2px solid gray;

    font-size: 1em;
    margin-right: 12px;
    padding: 0 8px;
  }

  &__search-button {
    @extend %form-style;
    padding: 12px;
    color: $color-white;
    background-color: $color-blue;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    border: 0;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .search-bar {
    width: $breakpoint-desktop;
    font-size: 24px;

    &__input-twitter {
      padding: 0 12px;
    }
  }
}
